*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #FFD1AA;
}

.arriba{
    text-align: center;
    padding: 20px 0px 0px 0px;
}

 h1{
    color: #804515;
    font-size: 50px;
}

.arriba button{
    margin: 20px;
}

form{
    text-align: center;
    margin: 20px 50px 20px 50px;
}

label{
    font-size: 20px;
}
